global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: 
        - 172.30.20.101:9100
        - 172.30.20.102:9100

  - job_name: "cadvisor"
    scrape_interval: 15s
    static_configs:
      - targets:
        - 172.30.20.101:8080
        - 172.30.20.102:8080

  - job_name: 'snmp'
    static_configs:
      - targets:
        - 172.30.1.1
        - 172.30.1.2
    metrics_path: /snmp
    params:
      auth: [public_v3]
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116  # The SNMP exporter's real hostname:port.

  # Global exporter-level metrics
  - job_name: 'snmp_exporter'
    static_configs:
      - targets: ['snmp-exporter:9116']