# General ignores
*.log
*.bak
*.backup
*~
*.swp

# Terraform ignores
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.rc
.terraform.lock.hcl

# Ansible ignores
.ansible/
ansible/.vault_pass
ansible/**/vault.yaml

# Docker ignores
docker/.env
docker/**/env.*
docker/**/*.env

# Script ignores
scripts/*.log

# IDE ignores
.vscode/
.idea/

# Sensitive files
secrets.*
*.key
*.cert
*.pem
*.secret
credentials.*