options {
    directory "/var/cache/bind";
    recursion yes;
    allow-recursion { any; };
    listen-on port 53 { any; };
    allow-transfer { none; };
    forwarders {
        {{ dns_forwarders | join('; ') }};
    };
    dnssec-validation auto;
    auth-nxdomain no;
    listen-on-v6 { any; };
};

// Include zone files
include "/etc/bind/named.conf.local";