services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    dns: 127.0.0.1
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "1011:80/tcp"
      - "1010:443/tcp"
    environment:
      TZ: 'Europe/Warsaw'
      FTLCONF_webserver_api_password: '{{ password }}'
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_dns_upstreams: 9.9.9.9;1.1.1.1;
    volumes:
      - './data/etc-pihole:/etc/pihole'
    restart: unless-stopped
